@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

:root {
  --font-roboto: "Roboto Slab", serif;
  --font-raleway: "Raleway", sans-serif;
}

body {
  font-family: var(--font-roboto);
  background-color: #212426;
}



.container {
  width: min(1400px, 90%);
  margin: auto;
  color: aliceblue;
}

.App {
display: grid;
grid-template-rows: auto 1fr auto;
min-height: 100dvh;
min-height: 100vh;

}


header,footer {
  padding-top: 15px;
  padding-bottom: 15px;
  background: linear-gradient(90deg,
        rgb(27, 170, 151) 60%,
        rgba(249, 211, 180, 0) 100%);
}

.logo {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 1000vmax;
  /* background-color: black; */
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  gap: 50px;
}


.navList{
  display: flex;
  list-style: none;
  gap: 25px;
  color: black;
}

.navList li {
  cursor: pointer;
}

.icon {
  color: white;
  width: 20px;
}

.mainBody {
  padding-top: 30px;
  padding-bottom: 30px;
  height: 80%;
 width: 60%;
 width: auto;
 display: block;
 font-size: small;
 align-content: center;
 text-align: center;
 
}


.mainBody p {
padding-top: 30px;
}

.mainBody li {
padding-top: 20px;
list-style: none;

}
.profilePhoto{
  width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 1000vmax;
}

.footerContainer{
align-items: center;
  size: 20px;
  align-content: center;
}

.inputRequired{
  display: block;
  color: red;
  margin-bottom: 5px;
}

.contactForm{
text-align: left;
width: 500px;
}

.formGroup{
  margin-bottom: 10px;
}

.contactForm input, 
.contactForm textarea {
  width: 100%;
  padding: 10px;
}

.btn{
  border: none;
  background-color: rgb(27, 170, 151);
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.formContainer{
  display: flex;
  justify-content: center;
}

.footerContainer {
  text-align: center;
}

.about  {
font-family: Arial, Helvetica, sans-serif;
font-size: 20px;

}

.about h2 {
  width: 400px;
  padding-top: 50px;
  font-size: large;

}

.projcetName {
display: flex;

}

.download {
  position: fixed;
  top: 80px;
  right: 20px;
}

.resume  {

  padding-top: 50px;
  margin-top: 60px;
  align-items: center;
}
.skills h2 {
  padding-bottom:20px;
  align-content: center;
  size: 50px;
}

.skills a{
font-size: 100px;
color: white;
padding: 20px;
}

.projectImg {
height: 200px;
  width: 100%;
  object-fit: cover;
  object-position: top;
}

.projectGrid {

  display: flex;
  flex-wrap: wrap;
  gap: 30px;

}

.project{
  width: calc(50% - 15px);
}

.skills li{
display: flex;
/* flex-wrap: wrap; */
flex-direction: row;
flex-grow: 100%;
display: inline-block;
font-size: 20px;
gap: 20px;
padding: 20px;
}